*, ::before, ::after {
    margin: 0;
    box-sizing: border-box;
    transition: linear 0.3s;
}

/* root */
:root {
    /* Colors */
    --colorBlack: rgba(8, 8, 8, 3);
    --colorWhite: rgba(219, 219, 219, 1);
    --pureWhite: #fff;
    --pureBlack: #000;
    --colorYellow: #FDC702;
    --colorSky: #029D9D;
    --colorLightBlue: #17233F;
    --colorGrey: #676C79;

    /* Font Size */
    --fontSmall: 15px;
    --fontMedium: 18px;
    --fontLarge: 25px;
    --fontXLarge: 40px;

    /* Font Families */
    --primaryFontFamily: 'Poppins', sans-serif;
    --secondryFontFamily: 'Dancing Script', cursive;
    --headingFontFamily: 'Abril Fatface', cursive;
}

/* Typography */

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primaryFontFamily);
}

li, a {
    list-style: none;
}

a {
    font-size: var(--fontMedium);
    text-decoration: none;
}

input,
button {
    font: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

p {
    color: var(--colorGrey);
    font-size: 18px;
}

/* reUsed Classes */
.section {
    position: relative;
    top: 75px;
    width: 100%;
    padding: 20px;
}

.primaryHeading {
    font-family: var(--headingFontFamily);
    font-size: var(--fontXLarge);
    font-weight: 700;
    color: var(--colorLightBlue);
    letter-spacing: 3px;
}

.secondry_heading {
    font-size: var(--fontLarge);
    font-weight: 600;
}

.btn {
    color: var(--colorLightBlue);
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid var(--colorWhite);
    padding: 10px 15px;
    margin-right: 10px;
}


/* Header Section */
header {
    position: fixed;
    width: 100%;
    height: 75px;
    top: 0;
    left: 0;
    background: var(--colorSky);
    display: flex;
    align-items: center;
    padding: 20px 50px;
    z-index: 1000;
}

header .logo {
    display: flex;
    flex: 1;
}

header .logo img {
    width: 100px;
}

header nav {
    display: flex;
    justify-content: center;
    flex: 2;
}

header nav ul {
    display: flex;
    gap: 2rem;
}

header nav ul li a {
    color: var(--pureWhite);
}

header nav ul li a:hover {
    color: var(--colorWhite);
}

#menu_bars {
    display: none;
    color: var(--colorWhite);
    font-size: var(--fontLarge);
    margin-right: 20px;
}

/* Hero Section */
/* .hero {
    display: flex;
} */

.hero .container {
    display: flex;
}

.hero .container .left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    padding-left: 100px;
}

.hero .container .left .heroTitle {
    font-size: 4rem;
}

.hero .container .left .heroSubTitle {
    font-family: var(--secondryFontFamily);
    color: var(--colorYellow);
    font-weight: 500;
    font-size: var(--fontXLarge);
    letter-spacing: 2px;
}

.hero .container .left .btnGroup .btnPrimary {
    background: var(--colorLightBlue);
    color: var(--colorWhite);
}

.hero .container .left .btnGroup .btnPrimary:hover, .btnOutline:hover {
    background: var(--pureWhite);
    border-color: var(--colorSky);
    color: var(--colorSky);
}

.hero .container .right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.hero .container .right img {
    width: 100%;
    height: 100%;
    transform: scale(0.9);
}

.shape {
    display: block;
    position: absolute;
    animation: rotate 8s linear infinite;
}

.shape-1 {
    top: 60px;
    left: 47%;
}

.shape-2 {
    top: 20%;
    right: 50px;
    animation-delay: 0.25s;
}

.shape-3 {
    left: 40%;
    bottom: 20%;
    animation-delay: 0.5s;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(1turn);
    }
}

/* Services Section */
.services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 50px 0;
}

.services .headings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.services .cardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}

.services .card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.services .card:hover {
    transform: scale(1.05);
}

.services .card img {
    width: 220px;
    height: 220px;
    object-fit: cover;
}

/* Destinations Section */
.destinations {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
}

.destinationContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}

.destinationCard {
    display: none;
    border-radius: 1rem;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.destinationCard.active {
    display: block;
}

.cardContent {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
}

.destinationCard:hover {
    transform: scale(1.05);
}

.destinationCard img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.destinationContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .5rem;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .rating {
    font-size: 12px;
    color: var(--colorYellow);
}

/* Dots */
.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--colorSky);
    cursor: pointer;
}

/* Change color of active dot */
.dot.active {
    background: var(--colorYellow);
}










/* Media Querries */
@media (max-width : 1200px) {
    .hero .container .left {
        padding-left: 50px;
    }

    .hero .container .right .circle {
        width: 360px;
        height: 360px;
    }

    /* Services Section */
    .services .cardWrapper {
        gap: 1rem;
    }

}

@media (max-width: 991px) {
    header nav {
        justify-content: flex-end;
    }

    .hero .container .left {
        padding: 20px;
    }

    .hero .container .left .heroTitle {
        font-size: 3rem;
    }

    .hero .container .left .heroSubTitle {
        font-size: var(--fontLarge);
    }

    .hero .container .circle {
        max-width: 300px;
        max-height: 300px;
    }


    /* Services Section */
    .services .cardWrapper {
        gap: 5rem;
    }

}

@media (max-width: 768px) {
    header {
        padding: 20px;
    }

    header .logo {
        flex: 0;
    }

    header nav ul {
        gap: 20px;
    }

    .hero .container {
        flex-direction: column;
    }


    /* Services Section */
    .services .headings {
        text-align: center;
    }

    .services .headings p {
        font-size: 30px;
    }

    .services .cardWrapper {
        gap: 2rem;
        flex-direction: column;
    }

    .services .card {
        width: 100%;
    }
}


@media (max-width: 520px) {
    .primary_heading {
        font-size: 28px;
    }

    .secondry_heading {
        font-size: 16px;
    }

    header {
        padding: 15px;
        justify-content: space-between;
    }

    header .logo img {
        width: 70px;
    }

    header nav {
        position: absolute;
        width: 100%;
        top: -360px;
        background: var(--colorSky);
        left: 0;
        justify-content: center;
        text-align: center;
        z-index: -1;
    }

    header nav.active {
        top: 74px;
    }

    header nav ul {
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 15px;
    }

    header nav ul li {
        width: 100%;
        background: var(--colorWhite);
        border: 1px solid white;
        border-radius: 3px;
        padding: 5px 10px;
    }

    header nav ul li a {
        color: #211d1d;
        border: none;
    }

    header #menu_bars {
        display: initial;
    }

    /* Hero Section */
    .crousel .hero_text {
        gap: 5px;
    }

}

@media (max-width: 375px) {
    .primary_heading {
        font-size: 17px;
    }

    .secondry_heading {
        font-size: 10px;
    }

    header #menu_bars {
        margin: 0;
    }

    .hero .shape-1 {
        display: none;
    }

    .btnGroup {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }
}