* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.4s;
}

/* Typography */

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgba(8, 8, 8, 1);
    text-decoration: none;
    list-style: none;
    line-height: 25px;
}

p {
    font-size: 18px;
    font-weight: 500;
}

a {
    font-size: 18px;
    color: rgba(8, 8, 8, 1);
}

.primary_heading {
    font-size: 40px;
    font-weight: 900;
}

.secondry_heading {
    font-size: 25px;
    font-weight: 600;
}

/* Header Section */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(219, 219, 219, 1);
    display: flex;
    align-items: center;
    padding: 20px 50px;
    z-index: 1000;
}

header .logo {
    display: flex;
    flex: 1;
}

header .logo img {
    width: 100px;
}

header nav {
    display: flex;
    justify-content: center;
    flex: 2;
}

header nav ul {
    display: flex;
    gap: 2rem;
}

header nav ul li a {
    color: white;
    border-bottom: 2px solid white;
}

header nav ul li a:hover {
    border-bottom: 2px solid black;
}

#menu_bars {
    display: none;
    font-size: 18px;
    border: 1px solid rgba(8, 8, 8, 1);
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 20px;
}

/* Hero Section */
.hero_section {
    display: flex;
    justify-content: center;
}

.crousel {
    position: relative;
    width: 100%;
    height: 100vh;
}

.crousel .crousel_item,
.crousel .crousel_item_hidden {
    display: none;
}

.crousel .crousel_item_visible {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: #211d1d;
}

